@page "/about"

<div class="about-layout">
    <div class="jason about-container">
        <div class="img-container">
            <img class="img-container"
                src="https://firebasestorage.googleapis.com/v0/b/complabs-572ad.appspot.com/o/ryan.jpeg?alt=media&token=0aa172c5-8426-4f6b-a7b1-b56bedb226f1"
                alt="ryan_collicutt" />
        </div>
        <h2>Ryan Collicutt</h2>
        <p>A00888552</p>
        <p>Avid web developer who enjoys working with JavaScript and C#</p>
    </div>
    <div class="ryan about-container">
        <div class="img-container">
            <img class="img-container"
                src="https://avatars.githubusercontent.com/u/71613713?s=400&u=1839f372422c7a5503a713dca22981490b4ea7da&v=4"
                alt="jason_zhao" />
        </div>
        <h2>Jason Zhao</h2>
        <p>A01249922</p>
        <p>Avid web developer who enjoys working with JavaScript and C#</p>
    </div>
</div>